<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.js}"></script>

    <title>Title</title>
</head>
<body>
<h1>hello</h1>
<h1>这是一个成功页面</h1>
<h3>[[${username}]]</h3>

<h3>[[${#dates.format(date,'yyyy-MM-dd HH:mm:ss')}]]</h3>
创建当前时间，精确到天
<h4>[[${#dates.createToday()}]]</h4>
创建当前时间，精确到秒
<h4>[[${#dates.createNow()}]]</h4>

创建自定长度的字符串
<h4 th:text="${#strings.randomAlphanumeric(count)}"></h4>

<div class="alert alert-success" role="alert">
    A simple success alert—check it out!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header">
        <img src="..." class="rounded mr-2" alt="...">
        <strong class="mr-auto">乔克叔叔</strong>
        <small>嘻嘻嘻</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        欢迎加入聊天室～
    </div>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('.toast').toast('show');
        $('.alert').alert();

    })

</script>
</html>