<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <base th:href="${#request.getContextPath()}+'/'">
    <link rel="stylesheet" th:href="@{webjars/Semantic-UI/2.4.1/semantic.css}">
    <link rel="stylesheet" th:href="@{css/oceanblog.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment o-pad-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">乔克叔叔杂货店ADMIN</h2>
            <a th:href="@{admin/blogs}" class="item">博客管理</a>
            <a th:href="@{admin/types}" class="item">类型管理</a>
            <a th:href="@{admin/tag}" class="item">标签管理</a>
            <a th:href="@{admin/category}" class="item">分类管理</a>
            <div class="right menu">
                <div class="ui inline dropdown item">
                    <div class="text">
                        <img class="ui avatar image">高智勇
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="ui container" style="max-width: 70em !important;">
    <div class="ui mini success message transition" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">提示:</div>
        <p th:text="${message}"></p>
    </div>

    <div class="ui basic segment" style="margin-bottom: 0 !important;">
        <a th:href="@{admin/edit}"><button class="ui teal basic button">新增</button></a>
    </div>

    <div class="ui basic segment">
        <table class="ui celled teal table">
            <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog,iter : ${page.content}">
                <td th:text="${iter.count}"></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.flag}"></td>
                <td class="right floated">
                    <a class="ui mini teal basic button">编辑</a>
                    <a class="ui mini teal basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">
                    <div class="ui right floated mini pagination menu">
                        <a class="item">上一页</a>
                        <a class="item">下一页</a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>

</body>
<script type="text/javascript" th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{webjars/Semantic-UI/2.4.1/semantic.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let result;
    result = [[${page}]];
    console.log(result);

    $('.message .close').on(
        'click', function () {
            $(this).closest('.message').transition('fade');
        }
    );
</script>
</html>