<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <base th:href="${#request.getContextPath()}+'/'">
    <script  th:src="@{lib/plugin/ckeditor/ckeditor.js}"></script>
    <link rel="stylesheet" th:href="@{webjars/Semantic-UI/2.4.1/semantic.css}">
    <link rel="stylesheet" th:href="@{css/oceanblog.css}">
<body>
<!--导航-->
<nav class="ui inverted attached segment o-pad-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">乔克叔叔杂货店</h2>
            <a href="/" class="item">首页</a>
            <a href="/tag" class="item">标签</a>
            <a href="/category" class="item">分类</a>
            <a href="/about" class="item">关于我</a>

            <div class="right menu">
                <div class="item">
                    <div class="ui transparent inverted icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="搜索">
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<div class="ui container">
    <div class="ui basic segment">
        <div class="ui middle aligned list">
            <div class="item">
                <div class="right floated ">
                    <button class="ui teal basic circular button">发布文章</button>
                </div>
                <div class="ui fluid input">
                    <button class="ui teal basic circular button">返回文章列表</button>
                    <input class="ui input" placeholder="输入文章标题">
                </div>
            </div>
        </div>
        <div id="editor">
        </div>
    </div>

</div>

</body>
<script type="text/javascript" th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{webjars/Semantic-UI/2.4.1/semantic.js}"></script>
<script type="text/javascript">
    CKEDITOR.replace('editor',{
        height:650,
        removeButtons: 'About'
    });
</script>
</html>