<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{webjars/Semantic-UI/2.4.1/semantic.css}">
    <link rel="stylesheet" th:href="@{css/oceanblog.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment o-pad-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">乔克叔叔杂货店</h2>
            <a href="/" class="item">首页</a>
            <a href="/tag" class="item">标签</a>
            <a href="/category" class="item">分类</a>
            <a href="/about" class="item">关于我</a>

            <div class="right menu">
                <div class="item">
                    <div class="ui transparent inverted icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="搜索">
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<!--中间区域-->
<div class="ui container">
    <div class="ui padded vertical segment o-pad-tb-large">
        <div class="ui stackable grid">
            <div class="four wide column">
                <a href="#" target="_blank">
                    <img class="ui rounded image" alt="" th:src="@{images/读书城南二维码.png}">
                </a>

            </div>
            <div class="twelve wide column">
                <h3 class="ui header">读书城南</h3>
                <p class="o-summary-text">百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。</p>
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui horizontal link list ">
                            <div class="item middle aligned">
                                <img th:src="@{images/读书城南二维码.png}" class="ui avatar image" style="width: 20px;height: 20px">
                                <div class="middle aligned content"><a href="#" class="header o-tag-text">高智勇</a></div>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="calendar icon"></i>&nbsp;&nbsp;2013-01-01</p>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="eye icon"></i>&nbsp;&nbsp;5643</p>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column" style="padding-right: 0">
                        <div class="ui horizontal link list">
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div class="ui padded vertical segment o-pad-tb-large">
        <div class="ui stackable grid">
            <div class="four wide column">
                <a href="#" target="_blank">
                    <img class="ui rounded image" alt="" th:src="@{images/读书城南二维码.png}">
                </a>

            </div>
            <div class="twelve wide column">
                <h3 class="ui header">读书城南</h3>
                <p class="o-summary-text">百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。</p>
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui horizontal link list ">
                            <div class="item middle aligned">
                                <img th:src="@{images/读书城南二维码.png}" class="ui avatar image" style="width: 20px;height: 20px">
                                <div class="middle aligned content"><a href="#" class="header o-tag-text">高智勇</a></div>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="calendar icon"></i>&nbsp;&nbsp;2013-01-01</p>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="eye icon"></i>&nbsp;&nbsp;5643</p>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column" style="padding-right: 0">
                        <div class="ui horizontal link list">
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui padded vertical segment o-pad-tb-large">
        <div class="ui stackable grid">
            <div class="four wide column">
                <a href="#" target="_blank">
                    <img class="ui rounded image" alt="" th:src="@{images/读书城南二维码.png}">
                </a>

            </div>
            <div class="twelve wide column">
                <h3 class="ui header">读书城南</h3>
                <p class="o-summary-text">百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。</p>
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui horizontal link list ">
                            <div class="item middle aligned">
                                <img th:src="@{images/读书城南二维码.png}" class="ui avatar image" style="width: 20px;height: 20px">
                                <div class="middle aligned content"><a href="#" class="header o-tag-text">高智勇</a></div>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="calendar icon"></i>&nbsp;&nbsp;2013-01-01</p>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="eye icon"></i>&nbsp;&nbsp;5643</p>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column" style="padding-right: 0">
                        <div class="ui horizontal link list">
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui padded vertical segment o-pad-tb-large">
        <div class="ui stackable grid">
            <div class="four wide column">
                <a href="#" target="_blank">
                    <img class="ui rounded image" alt="" th:src="@{images/读书城南二维码.png}">
                </a>

            </div>
            <div class="twelve wide column">
                <h3 class="ui header">读书城南</h3>
                <p class="o-summary-text">百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。</p>
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui horizontal link list ">
                            <div class="item middle aligned">
                                <img th:src="@{images/读书城南二维码.png}" class="ui avatar image" style="width: 20px;height: 20px">
                                <div class="middle aligned content"><a href="#" class="header o-tag-text">高智勇</a></div>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="calendar icon"></i>&nbsp;&nbsp;2013-01-01</p>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="eye icon"></i>&nbsp;&nbsp;5643</p>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column" style="padding-right: 0">
                        <div class="ui horizontal link list">
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui padded vertical segment o-pad-tb-large">
        <div class="ui stackable grid">
            <div class="four wide column">
                <a href="#" target="_blank">
                    <img class="ui rounded image" alt="" th:src="@{images/读书城南二维码.png}">
                </a>

            </div>
            <div class="twelve wide column">
                <h3 class="ui header">读书城南</h3>
                <p class="o-summary-text">百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。</p>
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui horizontal link list ">
                            <div class="item middle aligned">
                                <img th:src="@{images/读书城南二维码.png}" class="ui avatar image" style="width: 20px;height: 20px">
                                <div class="middle aligned content"><a href="#" class="header o-tag-text">高智勇</a></div>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="calendar icon"></i>&nbsp;&nbsp;2013-01-01</p>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="eye icon"></i>&nbsp;&nbsp;5643</p>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column" style="padding-right: 0">
                        <div class="ui horizontal link list">
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui padded vertical segment o-pad-tb-large">
        <div class="ui stackable grid">
            <div class="four wide column">
                <a href="#" target="_blank">
                    <img class="ui rounded image" alt="" th:src="@{images/读书城南二维码.png}">
                </a>

            </div>
            <div class="twelve wide column">
                <h3 class="ui header">读书城南</h3>
                <p class="o-summary-text">百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。</p>
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui horizontal link list ">
                            <div class="item middle aligned">
                                <img th:src="@{images/读书城南二维码.png}" class="ui avatar image" style="width: 20px;height: 20px">
                                <div class="middle aligned content"><a href="#" class="header o-tag-text">高智勇</a></div>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="calendar icon"></i>&nbsp;&nbsp;2013-01-01</p>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="eye icon"></i>&nbsp;&nbsp;5643</p>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column" style="padding-right: 0">
                        <div class="ui horizontal link list">
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui padded vertical segment o-pad-tb-large">
        <div class="ui stackable grid">
            <div class="four wide column">
                <a href="#" target="_blank">
                    <img class="ui rounded image" alt="" th:src="@{images/读书城南二维码.png}">
                </a>

            </div>
            <div class="twelve wide column">
                <h3 class="ui header">读书城南</h3>
                <p class="o-summary-text">百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。</p>
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui horizontal link list ">
                            <div class="item middle aligned">
                                <img th:src="@{images/读书城南二维码.png}" class="ui avatar image" style="width: 20px;height: 20px">
                                <div class="middle aligned content"><a href="#" class="header o-tag-text">高智勇</a></div>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="calendar icon"></i>&nbsp;&nbsp;2013-01-01</p>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="eye icon"></i>&nbsp;&nbsp;5643</p>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column" style="padding-right: 0">
                        <div class="ui horizontal link list">
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui padded vertical segment o-pad-tb-large">
        <div class="ui stackable grid">
            <div class="four wide column">
                <a href="#" target="_blank">
                    <img class="ui rounded image" alt="" th:src="@{images/读书城南二维码.png}">
                </a>

            </div>
            <div class="twelve wide column">
                <h3 class="ui header">读书城南</h3>
                <p class="o-summary-text">百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。少长聚嬉戏，不殊同队鱼。百年歌自苦，未见有知音。</p>
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui horizontal link list ">
                            <div class="item middle aligned">
                                <img th:src="@{images/读书城南二维码.png}" class="ui avatar image" style="width: 20px;height: 20px">
                                <div class="middle aligned content"><a href="#" class="header o-tag-text">高智勇</a></div>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="calendar icon"></i>&nbsp;&nbsp;2013-01-01</p>
                            </div>
                            <div class="item middle aligned">
                                <p class="o-tag-text"><i class="eye icon"></i>&nbsp;&nbsp;5643</p>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column" style="padding-right: 0">
                        <div class="ui horizontal link list">
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                            <div class="item middle aligned">
                                <a href="#" target="_blank" class="ui teal tag label o-tag-text">读书城南</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!--底部-->
<footer class="ui inverted vertical footer segment o-pad-tb-max ">
<div class="ui center aligned container ">
    <div class="ui inverted divided stackable grid">
        <div class="four wide column ">
            <h4 class="ui inverted header">相关连接</h4>
            <div class="ui inverted link list o-footer-text ">
                <p><a href="https://blog.oceaneyes.cn" class="item">乔克叔叔博客</a></p>
                <p><a href="http://oceaneyes.top" class="item">关于一二三</a></p>
                <p><a href="#" class="item">关于一二三</a></p>
            </div>
        </div>
        <div class="four wide column ">
            <h4 class="ui inverted header">最新事项</h4>
            <div class="ui inverted link list o-footer-text">
                <p><a href="#" class="item">关于一二三</a></p>
                <p><a href="#" class="item">关于一二三</a></p>
                <p><a href="#" class="item">关于一二三</a></p>
            </div>
        </div>
        <div class="four wide column ">
            <h4 class="ui inverted header">联系我</h4>
            <div class="ui inverted link list o-footer-text">
                <p><a href="#" class="item">关于一二三</a></p>
                <p><a href="#" class="item">关于一二三</a></p>
                <p><a href="#" class="item">关于一二三</a></p>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui inverted link list">
                <div class="item">
                    <img  class="ui rounded image" alt="" th:src="@{images/公众号.jpg}" style="width: 88px">
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted section divider"></div>
    <p class="o-text-thin o-text-space o-text-opacity o-footer-text" >Copyright © 2013-2019</p>
    <p class="o-text-thin o-text-space o-text-opacity o-footer-text">Designed By Gazhiyong</p>
</div>
</footer>

<script type="text/javascript" th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{webjars/Semantic-UI/2.4.1/semantic.js}"></script>
</body>
</html>